@{
    ViewBag.Title = "Home";
}

<articl>
    <div>
        <h1>EPAM</h1>
    </div>
    <div>
        <p>
            Masterfully fulfilled by Peter Fedynsky, Voice of America journalist and expert on Ukrainian studies, this first ever English translation of the complete Kobzar brings out Ukraine's rich cultural heritage.
            As a foundational text, The Kobzar has played an important role in galvanizing the Ukrainian identity and in the development of Ukraine’s written language and Ukrainian literature. The first editions had
        </p>
    </div>
    <div>
        <p>19.04.2021</p>
    </div>
</articl>

<article>
    <div>
        <h1>Ukraine</h1>
    </div>
    <div>
        <p>
            Masterfully fulfilled by Peter Fedynsky, Voice of America journalist and expert on Ukrainian studies, this first ever English translation of the complete Kobzar brings out Ukraine's rich cultural heritage.
            As a foundational text, The Kobzar has played an important role in galvanizing the Ukrainian identity and in the development of Ukraine’s written language and Ukrainian literature. The first editions had
        </p>
    </div>
    <div>
        <p>20.04.2021</p>
    </div>
</article>

<article>
    <div>
        <h1>The Best Day</h1>
    </div>
    <div>
        <p>
            Masterfully fulfilled by Peter Fedynsky, Voice of America journalist and expert on Ukrainian studies, this first ever English translation of the complete Kobzar brings out Ukraine's rich cultural heritage.
            As a foundational text, The Kobzar has played an important role in galvanizing the Ukrainian identity and in the development of Ukraine’s written language and Ukrainian literature. The first editions had
        </p>
    </div>
    <div>
        <p>21.04.2021</p>
    </div>
</article>
